@font-face {
    font-family: "Calculator"; 
    src: url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.eot"); src: url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.woff") format("woff"), url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ce4b0ee545ec52c2ec8cec62d23ffb09.svg#Calculator") format("svg"); 
}

// Calculator Components
$CALC_COMPONENTS: ('zero': 'num', 'one': 'num', 'two': 'num', 'three': 'num', 'four': 'num', 'five': 'num', 'six': 'num', 'seven': 'num', 'eight': 'num', 'nine': 'num', 'decimal': 'num', 'add': 'operator', 'subtract': 'operator', 'multiply': 'operator', 'divide': 'operator', 'equals': 'equals', 'clear': 'AC', 'display': 'display');



body {
    font-family: "Tahoma";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #project-container {
        padding: 5px;
        background-color: black;
        border-radius: 0.25em;
        border: 0.125em solid black;
        width: 300px;
        display: grid;
        grid-template-areas:
            "display display display display"
            "clear clear divide multiply"
            "seven eight nine subtract"
            "four five six add"
            "one two three equals"
            "zero zero decimal equals";
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto repeat(5, 60px);
    }

    @each $key, $type in $CALC_COMPONENTS {
        ##{$key} {
            grid-area: #{$key};
            text-align: center;
            color: white;
            border: none;
            margin: 1px;

            @if $type == num {
                background-color: #4D4D4D;
            }
            @else if $type == operator {
                background-color: #666666;
            }
            @else if $type == equals {
                background-color: #004466;
            }
            @else if $type == AC {
                background-color: #AC3939;
            }
        }
        ##{$key}:hover {
            color: black;
            border: 1px solid #808080;
            margin: 0;

            @if $type == num {
                background-color: #4D4D4D;
            }
            @else if $type == operator {
                background-color: #666666;
            }
            @else if $type == equals {
                background-color: #004466;
            }
            @else if $type == AC {
                background-color: #AC3939;
            }
        }
    }

    #display {
        font-family: "Calculator", sans-serif;
        font-size: 28px;
        text-align: right !important;

        p {
            margin: 0;
        }

        #prev-input {
            font-size: 20px;
            color: orange;
            word-break: break-all;
        }
        
    }
    
}

